*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
:root {
  --home-color: #158467;
  --about-color: #900d0d;
  --skills-color: #84a9ac;
  --projects-color: #00b7c2;
  --contact-color: #0f4c75;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  position: relative;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
}
#home {
  background-image: url("https://cdn.pixabay.com/photo/2020/07/26/11/35/lighthouse-5439227_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  background-color: var(--about-color);
}

#skills {
  background-color: var(--skills-color);
}

#projects {
  background-color: var(--projects-color);
}

#contact {
  background-color: var(--contact-color);
}

.navigation {
  top: 2rem;
  right: 2rem;
  position: fixed;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
.menu {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu::before {
  content: "";
  top: 1rem;
  position: absolute;
}

.menu::after {
  content: "";
  top: -1rem;
  position: absolute;
}

.button,
.menu::before,
.menu::after {
  height: 0.3rem;
  width: 3rem;
  background-color: #000000;
  display: inline-block;
  position: absolute;
  transition: all 0.2s ease;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .menu .button {
  display: none;
}
.checkbox:checked ~ .menu::before {
  transform: rotate(413deg) translate(-2px, -4px);
}
.checkbox:checked ~ .menu::after {
  transform: rotate(125deg) translate(13px, -1rem);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.596);
  transition: all 0.5s ease-in-out;
}

.overlay-hide-mode {
  width: 100vw;
  height: 100vh;
}
.navigation-list {
  position: fixed;
  width: 0;
  height: 0;
}
.navigation-list-hide-mode {
  width: 100vw;
  height: 100vh;
}
.list-items {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: stretch; */
  width: 100%;
  height: 100%;

  list-style: none;
}
.item {
  padding-top: 3rem;
  font-size: 4rem;
  width: 0;
  height: 20%;
  display: block;
  text-align: center;
}
@media screen and (max-width: 56.25rem) {
  .item {
    font-size: 2.5rem;
  }
}
a {
  text-decoration: none;
  color: white;
}
.item-1 {
  background-color: var(--home-color);
}
.item-2 {
  background-color: var(--about-color);
}
.item-3 {
  background-color: var(--skills-color);
}
.item-4 {
  background-color: var(--projects-color);
}
.item-5 {
  background-color: var(--contact-color);
}
/* items start animation */
.item-1-animation-start {
  animation: start-anime 2s ease 0.2s both;
}
.item-2-animation-start {
  animation: start-anime 2s ease 0.4s both;
}
.item-3-animation-start {
  animation: start-anime 2s ease 0.6s both;
}
.item-4-animation-start {
  animation: start-anime 2s ease 0.8s both;
}
.item-5-animation-start {
  animation: start-anime 2s ease 1s both;
}
@keyframes start-anime {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* items end animation */
.item-1-animation-end {
  animation: end-anime 3s ease 1s both;
}
.item-2-animation-end {
  animation: end-anime 3s ease 0.8s both;
}
.item-3-animation-end {
  animation: end-anime 3s ease 0.6s both;
}
.item-4-animation-end {
  animation: end-anime 3s ease 0.4s both;
}
.item-5-animation-end {
  animation: end-anime 3s ease 0.2s both;
}
@keyframes end-anime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
